.blue {
    border-bottom: 2px solid blue;
}

.common {
    display: grid;
    grid-template-columns: 185px 150px 110px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.testSpanError {
    color: blue;
}